div.list-abs {
  display: none;
  max-height: 120px;
  position: absolute;
  overflow-y: auto;
  border: 1px solid #BFB6B9;
  background-color: white;
}

div.list-abs > div {
  cursor: pointer;
  height: 25px;
  padding-left: 5px;
}

div.list-abs > div:hover {
  background-color: #D3EDED;
}

.list-abs div.selected {
  background-color: #D3EDED;
}